<div class="container">
	<div class="searchBox">
		 <div class="searchField">
			<input type="text" placeholder="Search for answers in StackOverflow:" [(ngModel)]="searchItem" (click)="getSearchResults()">
		</div>
		<div class="searchButton">
			<button (click)="getSearchResults()">Search</button>
		</div>

		<p>Accepted answers are highlight with yellow background</p>
	</div>
	
	<div *ngFor="let results of questionsList" class="resultsBox">
		
		<span [ngStyle]="{'background-color':results.accepted_answer_id > 0 ? 'yellow': 'white'}">{{results.title}}</span>
		<br />
		<a href="{{results.link}}" target="_blank">To the question</a>
		<br />
		Tags: <span *ngFor="let questionTags of results.tags" class="questionTags">{{questionTags}} </span>
		<br />
		Score: {{results.score}}
		<br />
		Number of views: {{results.view_count}}
		<br />
		Posted at: {{results.creation_date*1000 | date }}
		<br /><br />
	</div>
</div>


